/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: url(images/background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 70%;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    text-align: center;
    color: #fff;
    font-size: 40px;
    word-spacing: 6px;
    letter-spacing: 6px;
    margin-bottom: 25px;
    font-weight: lighter;
}

.sub_heading {
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

.timer_wrapper {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
}

.counter {
    color: #fff;
    width: 200px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.counts {
    color: #fff;
    font-weight: lighter;
    font-size: 70px;
    text-align: center;
    padding: 2.5rem 0;
}

.count_name {
    color: #000;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 0.6rem 0;
}

/* Tablet Styles */
@media (max-width: 768px) {
    body {
        grid-template-columns: 100%;
    }

    .heading {
        font-size: 35px;
    }

    .sub_heading {
        font-size: 18px;
    }

    .timer_wrapper {
        justify-content: space-around;
    }

    .counter {
        width: 22%; 
    }

    .counts {
        font-size: 60px;
        padding: 1.5rem 0;
    }

    .count_name {
        font-size: 18px;
    }
}

/* Mobile Styles */
@media (max-width: 480px) {
    body {
        grid-template-columns: 100%;
    }

    .heading {
        font-size: 28px;
    }

    .sub_heading {
        font-size: 16px;
    }

    .timer_wrapper {
        justify-content: space-around;
    }

    .counter {
        width: 22%; 
    }

    .counts {
        font-size: 50px;
        padding: 1rem 0;
    }

    .count_name {
        font-size: 16px;
    }
}
